<% if (site.posts.length){ %>
  <div class="widget-wrap panel panel-primary">
    <h3 class="panel-heading">Archives</h3>
    <div class="panel-body">
      <%- list_archives() %>
    </div>
  </div>
<% } %>