<% if (site.categories.length){ %>
  <div class="widget-wrap panel panel-primary">
    <h3 class="widget-title panel-heading">Categories</h3>
    <div class="panel-body">
      <%- list_categories() %>
    </div>
  </div>
<% } %>